<div>
    <head>
        <title>OpenAI Quickstart</title>
        <link rel="icon" href="/dog.png">
    </head>
    <main className=main> 
        <img src="/assets/speech.png" className=icon width="300px"  height="200px"/>
        <h3>Check if your text follows our policies</h3>
        <form>
            <input 
            type="text"
            name="userPrompt"
            placeholder="Enter an statement to moderate"
            [(ngModel)]="userPrompt"
            style="width: 300px;"
            />
            <input type="button" value="Moderate" (click)="postEdit()"/>

        </form>
        <h3>Results</h3>
        <div className=result> Hate = {{result_hate}} ({{result_hate_score}})</div>
        <div className=result> Hate/threatening = {{result_hate_threatening}} ({{result_hate_threatening_score}})</div>
        <div className=result> Self-harm = {{result_self_harm}} ({{result_self_harm_score}})</div>
        <div className=result> Sexual = {{result_sexual}}({{result_sexual_score}})</div>
        <div className=result> Sexual Minors = {{result_sexual_minors}} ({{result_sexual_minors_score}})</div>
        <div className=result> Violence = {{result_violence}} ({{result_violence_score}})</div>
        <div className=result> Violence Graphic = {{result_violence_graphic}} ({{result_violence_graphic_score}})</div>
        
        <div className=result> Flagged: {{result_flagged}}</div>

    </main>

</div>

