<div>
    <head>
        <title>OpenAI Quickstart</title>
        <link rel="icon" href="/dog.png">
    </head>
    <main className=main> 
        <img src="/assets/spelling.jpg" className=icon width="300px"  height="200px"/>
        <h3>Check my spelling</h3>
        <form>
            <input 
            type="text"
            name="userInput"
            placeholder="Enter an input to be modified"
            [(ngModel)]="userInput"
            style="width: 300px;"
            />
            <input type="button" value="Check spelling" (click)="postEdit()"/>

        </form>
        <div className=result> {{result}}</div>

    </main>

</div>

